<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Musical - Songs Recommender</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/songs.css') }}"
    />

    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <section>
      <div class="home-logo">
        <img
          class="logo-img-home"
          src="{{ url_for('static', filename='img/music-app-icon.png') }}"
        />
        <p class="app-name">Musical</p>
      </div>
    </section>
    <main>
      <div class="playlist-title">
        <img
          class="logo-img"
          src="{{ recommended_songs[0]['photo'] }}"
        />
        <div class="playlist-details">
          <h3>{{ recommended_songs[0]['name'] }}</h3>
          <h5>PLAYLIST</h5>
        </div>
      </div>

      <table class="list-songs" style="margin-bottom: 30px; font-size: 15px">
        <th>#</th>
        <th>&nbsp;</th>
        <th>Title</th>
        <th>Album</th>
        <th>Duration</th>

        {% for song in recommended_songs[0]['tracks'] %}
        <tr>
          <td style="color: #fff" rowspan="2">{{ song['sr'] }}</td>
          <td rowspan="2">
            <img src="{{ song['photo'] }}" height="60" width="60" class="album-img" />
          </td>
          <td style="vertical-align: bottom; color: #fff">
            {{ song['name'] }}
          </td>
          <td style="color: #999;" rowspan="2">{{ song['album'] }}</td>
          <td style="color: #999" rowspan="2">{{ song['duration'] }}</td>
        </tr>
        <tr>
          <td style="vertical-align: top; font-size: 13px; color: #999;">
            {{ song['artists_name'] }}
          </td>
        </tr>
        {% endfor %}
      </table>

      <h2>Recommended Songs</h2>

      <table class="list-songs" style="margin-bottom: 30px; font-size: 15px">
        <th>#</th>
        <th>&nbsp;</th>
        <th>Title</th>
        <th>Album</th>
        <th>Duration</th>

        {% for song in recommended_songs[1] %}
        <tr>
          <td style="color: #fff" rowspan="2">{{ song['sr'] }}</td>
          <td rowspan="2">
            <img src="{{ song['url'] }}" height="60" width="60" class="album-img"  />
          </td>
          <td style="vertical-align: bottom; color: #fff"">{{ song['track_name'] }}</td>
          <td style="color: #999" rowspan="2">{{ song['album_name'] }}</td>
          <td style="color: #999" rowspan="2">{{ song['duration_ms'] }}</td>
        </tr>
        <tr>
          <td style="vertical-align: top; font-size: 13px; color: #999;width: 500px;">
            {{ song['artists_name'] }}
          </td>
        </tr>
        {% endfor %}
      </table>
    </main>
  </body>
</html>
